@model tenorchem.Models.Supplier

@{
    ViewData["Title"] = "Delete";
}

<h2>删除供应商</h2>

<h3>确定要删除该供应商么</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="SupplierId" />
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contactor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contactor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            @if (ViewData["CanBeDelete"] == "true"){
                <input type="submit" value="删除" class="btn btn-default" />
             }
             else{
                 <span style="color: red;">无法删除该供应商，供应商已有对应采购记录</span>
             }
            <a asp-action="Index">返回</a>
        </div>
    </form>
</div>
