@model IEnumerable<tenorchem.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h2>供应商管理</h2>

<p>
    <a asp-action="Create">添加新供应商</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contactor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
