@model IEnumerable<tenorchem.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>用户列表</h2>

<p>
    <a asp-action="Create">创建新用户</a>
    <a asp-action="Logout">登出</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    编号
                </th>    
                <th>
                    职工姓名
                </th>
                <th>
                    密码
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passWord)
            </td>
            @if (item.isAdmin == false)
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">编辑用户</a> |
                <a asp-action="Delete" asp-route-id="@item.id">删除用户</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
