@model tenorchem.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h2>删除产品</h2>

<h3>你确定要删除该产品么？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ProductId" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            @if (ViewData["CanBeDelete"] == "true"){
                <input type="submit" value="删除" class="btn btn-default" />
             }
             else{
                 <span style="color: red;">无法删除该产品，产品已有对应采购记录</span>
             }
            | <a asp-action="Index">返回</a>
        </div>
    </form>
</div>
