@model IEnumerable<tenorchem.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>原料目录</h2>

<p>
    <a asp-action="Create">添加新产品</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">编辑产品</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">删除产品</a>
            </td>
        </tr>
}
    </tbody>
</table>
