@model tenorchem.Models.PurchaseRecord

@{
    ViewData["Title"] = "Delete";
}

<h2>删除采购记录</h2>

<h3>确定要删除该采购记录么？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="PurchaseRecordId" />
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            产品
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            供应商
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerTon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerTon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidBackPerTon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidBackPerTon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPaidBack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPaidBack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPaidPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPaidPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>


    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index">返回</a>
        </div>
    </form>
</div>
