@model IEnumerable<tenorchem.Models.PurchaseRecord>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" data-toggle="table" data-search="true" data-sort-name="Date">
    <thead>
        <tr>
                <th style data-field="Date" data-sortable="true">
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </th>
                <th style data-sortable="true">
                    @Html.DisplayNameFor(model => model.PricePerTon)
                </th>
                <th style data-sortable="true">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th style data-field="TotalPrice" data-sortable="true">
                    @Html.DisplayNameFor(model => model.TotalPaidPrice)
                </th>
                <th style data-sortable="true">
                    @Html.DisplayNameFor(model => model.PaidBackPerTon)
                </th>
                <th style data-sortable="true">
                    @Html.DisplayNameFor(model => model.TotalPaidBack)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comment)
                </th>
            <th style data-sortable="true">
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th style data-sortable="true">
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPaidPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidBackPerTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPaidBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @{
                    string s = item.Product.Name+ "(" + item.Product.Purity+ ")";
                }
                @s
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseRecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseRecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
